@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer components {
  .navItems {
    @apply flex items-center space-x-1 hover:text-white hover:bg-blue_light py-4 px-2 text-blue_light
  }
  .btn {
    @apply flex items-center bg-white text-blue_light border border-blue_light 
    py-1 px-2 space-x-1 text-sm rounded hover:bg-blue_light hover:text-white
  }
  .activeBtn {
    @apply text-blue-900 p-2 px-3 bg-[#D1F2FF] rounded-full
  }
  .filterBtn {
    @apply px-3 p-2 text-blue-900 border border-gray-300 rounded-full
  }
} 